@mixin vertical-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin horizontal-gap($gap) {
  display: flex;
  gap: $gap;
}

@mixin flex-between($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
}

@mixin button-styles() {
  padding: 16px 32px;
  border-radius: 10px;
}
